body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: gradient 5s ease infinite;
    background: linear-gradient(-50deg, rgb(17, 25, 48) ,#061840, #0A214F, #153461,#2A6EA0,#0A6AA2);
    background-size: 400% 400%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.pag1 {
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

.pag1 img {
    width: 90px;
    height: 90px;
    object-fit: contain;
}

h1 {
    text-align: center;
    color: #333;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    }


h3 {
    margin-bottom: 5px;
    color: #333;
}

input[type="radio"] {
    margin-right: 5px;
    margin-left: 10px;
}

button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(to right, rgb(17, 25, 48) ,#061840, #0A214F, #153461,#2A6EA0,#0A6AA2);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background: linear-gradient(to right, #2A6EA0, #0A6AA2, #111930);
    transform: scale(1.03);
}
